<h1>{{superheroe}}</h1>

 <dl class="dl-horizontal mx-4">
  <dt class="col-sm-3" >Nombre:</dt>
  <dd>{{nombre}}</dd>

  <dt class="col-sm-3" >Edad:</dt>
  <dd class="col-sm-9">{{edad}}</dd>

  <dt class="col-sm-3" >Método:</dt>
  <dd class="col-sm-9">algún método</dd>

  <dt class="col-sm-3" >Capitalizado:</dt>
  <dd class="col-sm-9 ">{{capitalizarNombre}}</dd>
 </dl>

 <button class="btn btn-primary mx-2" (click)="cambiarNombre()" *ngIf="stateButtonName">Cambiar nombre</button>
 <button class="btn btn-primary mx-2" (click)="cambiarEdad()" *ngIf="stateButtonEdad">Cambiar edad</button>
